langchain
langchain-core
langchain-community
langchain-experimental
langchain-chroma
langchain-google-genai
langchain-text-splitters
unstructured
python-dotenv
markdown
ragas 
datasets
pika
sentence-transformers
langchain-huggingface
aio-pika