.messageRow {
  display: flex;
  margin: 0.5rem 0;
}

.messageUser {
  justify-content: flex-end;
  color: black !important;

}

.messageBot {
  justify-content: flex-start;
  max-width: 90%;
}

.messageUserCard {
  padding: 0.75rem;
  padding-top: 0.5rem;
  border-radius: 1.5rem !important;
  max-width: 75%;
  text-align: end !important;
  box-shadow: none !important;
  color: white !important ;
  border-color: transparent !important;
}

.messageBotCard {
  /* background-color: transparent !important;*/
  border-color: transparent !important; 
  padding: 0.75rem 1rem;
  width: 100%;
  box-shadow: none !important;
}